[Unit]
Description=Check SiRelay repository for tbilisi.today updates hourly

[Timer]
OnBootSec=4min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
